nav ul {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: black;
}
nav ul a {
  color: white;
  font-size: larger;
  text-decoration: none;
}
nav ul li {
  list-style-type: none;
  border: 2px solid black;
}
nav ul li .logo {
  background-color: darkmagenta;
}

main .grid-container {
  display: grid;
  width: 50%;
  grid-gap: 10px;
  background-color: white;
  border: 2px solid darkmagenta;
  grid-template-areas: "pic" "me" "hob" "cont" "emp" "edu";
}
main .grid-container .pic {
  grid-area: pic;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  object-fit: contain;
}
main .grid-container .profile-pic {
  display: inline;
  margin-left: -25%;
  height: 100%;
  width: auto;
}
main .grid-container .me {
  grid-area: me;
  border: 2px solid darkmagenta;
  font-size: 20px;
  color: white;
  background-color: darkmagenta;
}
main .grid-container .hob {
  grid-area: hob;
  border: 2px solid darkmagenta;
  font-size: 20px;
  color: white;
  background-color: darkmagenta;
}
main .grid-container .cont {
  grid-area: cont;
  border: 2px solid darkmagenta;
  font-size: 20px;
  color: white;
  background-color: darkmagenta;
}
main .grid-container .emp {
  grid-area: emp;
  border: 2px solid darkmagenta;
  font-size: 20px;
  color: white;
  background-color: darkmagenta;
}
main .grid-container .edu {
  grid-area: edu;
  border: 2px solid darkmagenta;
  font-size: 20px;
  color: white;
  background-color: darkmagenta;
}

@media screen and (min-width: 600px) {
  .grid-container {
    width: 100%;
    grid-template-areas: "pic me me" "pic hob hob" "pic cont cont" "emp emp emp" "edu edu edu";
  }
}
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-areas: "pic" "me" "hob" "cont" "emp" "edu";
  }
}